<!DOCTYPE html>
<html >
<title>Controle Clientes</title>
</head>
<body>
<h1>Formulário Cliente</h1>
<hr>
<form action="/cliente" method="post">
	<label for="cliente">Cliente</label>
	<input type="text" id="cliente" name="cliente">
	<br>
	<label for="email">Email</label>
	<input type="text" id="email" name="email">
	<br>
	<label for="datacompra">Data Compra</label>
	<input type="date" id="datacompra" name="datacompra">
	<br>
	<label for="status">Status</label>
	<input type="text" id="status" name="status">
	<br>
	<label for="valor">Valor R$</label>
	<input type="text" id="valor" name="valor">
	<br>
	<input type="submit" value="Cadastrar">
</form>


</body>
</html>
